/* src/styles/auth-style/company-registration-form.module.css */
.formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto; /* Center the form on the page */
    padding: 1rem; /* Reduce padding for a smaller form */
    border-radius: 8px; /* Optional: Rounded corners */
    background-color: #fff; /* Optional: Background color for better contrast */
    zoom: 0.9;
}

.fullWidthInput {
    width: 100%;
}

.twoColumnContainer {
    display: flex;
    justify-content: space-between;
}

.twoColumnInput {
    flex: 1;
    margin-right: 0.5rem; /* Reduced space between columns */
    max-width: calc(50% - 0.25rem); /* Ensure both inputs fit within the container */
}

.twoColumnInput:last-child {
    margin-right: 0; /* Remove margin for the last item */
}

.selectInput {
    flex: 1;
    margin-right: 0.5rem; /* Space between columns */
    padding: 0.4rem; /* Slightly reduce padding for a smaller height */
    border: 1px solid #ccc; /* Border similar to input fields */
    border-radius: 4px; /* Rounded corners */
    font-size: 0.9rem; /* Slightly smaller font size */
    background-color: white; /* Background color */
    outline: none; /* Remove outline */
    transition: border-color 0.2s; /* Smooth transition */
    height: 50px;
    line-height: 1.5; /* Match line height with input fields */
}

.selectInput:focus {
    border-color: #007bff; /* Change border color on focus */
}

.linkButton {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
}
